<section class="content-header">
  <h1>
    รายชื่อผู้ใช้ทั้งหมด
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#/"><i class="fa fa-dashboard"></i> หน้าแรก</a></li>
    <li><a href="">ช้อมูลผูใช้</a></li>
    <li class="active">รายชื่อผู้ใช้</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <!-- /.box -->

      <div class="box  bg-blue">
              <div class="box-header">
                <i class="fa fa-search"></i>
                <h3 class="box-title">Search Criteria</h3>
                <!-- tools box -->
                <div class="box-tools pull-right">
                    <button class="btn btn-xs btn-primary" data-ng-click="search()">
                           <i class="fa fa-search"></i><span>Search</span>
                    </button>
                    <button class="btn btn-xs btn-warning" data-ng-click="clear()">
                           <i class="fa fa-times"></i><span>Clear</span>
                    </button>
                </div>
                <!-- /. tools -->
              </div>
              <!-- /.box-header -->
              <!-- /.box-body -->
              <div class="box-footer text-black">
                <div class="row form-group">
                <div class="col-sm-4">
                    <label class="col-sm-5">คำนำหน้า :</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-xs" data-ng-model="criteria.preName">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label class="col-sm-5">ชื่อจริง :</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-xs" data-ng-model="criteria.firstName">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label class="col-sm-5 text-inline">นามสกุล :</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-xs" data-ng-model="criteria.lastName">
                    </div>
                  </div>
                </div>
                <!-- /.row -->
                <div class="row form-group">
                <div class="col-sm-4">
                    <label class="col-sm-5">ชื่อตำแหน่ง:</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-xs" data-ng-model="criteria.positionName" data-ng-disabled="true">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label class="col-sm-5">สิทธิ์เข้าใช้ :</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control input-xs" data-ng-model="criteria.role">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label class="col-sm-5 text-inline">หน่วยงาน :</label>
                    <div class="col-sm-7">
                      <select class="form-control input-xs"  data-ui-select2="{'containerCssClass': 'required'}"   data-ng-model="criteria.costID">
                          <option></option>
                          <option data-ng-repeat="d in departmentList"    value="{{d.Cost_id}}">
                              {{d.Cost_name}}
                          </option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- /.row -->
              </div>
        </div>

      </div>
  </div>
        
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-condensed table-striped table-hover dataTable">
            <thead>
            <tr>
              <th width="5%"  >#</th>
              <th >ID</th>
              <th width="10%">คำนำหน้าชื่อ</th>
              <th >ชื่อจริง</th>
              <th >นามสกุล</th>
              <th >ตำแหน่ง</th>
              <th >หน่วยงาน</th>
              <th >สิทธิ์เข้าใช้งาน</th>
              <th >Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="u in userList">
              <td>{{paging.showing.start+$index}}</td>
              <td class="text-left" nowrap>{{u.Mem_ID}} </td>
              <td class="text-left" nowrap>{{u.Pre_name}} </td>
              <td class="text-left" nowrap>{{u.Mem_name}}</td>
              <td class="text-left" nowrap>{{u.Mem_lastname}}</td>
              <td class="text-left" nowrap>{{u.Position_Name}}</td>
              <td class="text-left" nowrap>{{u.Cost_name}}</td>
              <td class="text-center" nowrap><a href="" data-tooltip="{{u.lov_name}}"><i class="fa {{u.lov_flag}}" aria-hidden="true"></i></a></td>
              <td class="action">
                <a href="" data-ng-click="gotoEdit(u.Mem_ID)" data-tooltip="แก้ไข"><i class="fa fa-fw fa-edit"></i></a>
              </td>
            </tr>
            <tr data-ng-show="userList == '' || userList == undefined">
                  <td colspan="5" data-translate>ไม่มีข้อมูล</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <th>#</th>
              <th >ID</th>
              <th>คำนำหน้าชื่อ</th>
              <th >ชื่อจริง</th>
              <th >นามสกุล</th>
              <th >ตำแหน่ง</th>
              <th >หน่วยงาน</th>
              <th >สิทธิ์เข้าใช้งาน</th>
              <th >Actions</th>
            </tr>
            </tfoot>
          </table>
          <div class="row">
               <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                      <div class="dataTables_info">Showing {{paging.showing.start}} to {{paging.showing.end}} of {{paging.showing.total}} entries</div>
                </div>
                <div class="col-sm-4">
                  <div class="dataTables_paginate paging_bootstrap">
                    <div data-pagination data-total-items="paging.totalItems" data-items-per-page="paging.limit" data-page="paging.pageNumber" data-max-size="5" data-boundary-links="true" data-on-select-page="selectPage(page)"></div>
                  </div>
                </div>
          </div>
        </div>

        <!-- /.box-body -->

      <!-- /.box -->

    <!-- /.col -->

  <!-- /.row -->
</section>
