<section class="content-header">
  <h1>
    General Form Elements
    <small>Preview</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> หน้าแรก</a></li>
    <li><a href="#">จัดการข้อมูล</a></li>
    <li class="active">เพิ่มหอผู้ป่วย</li>

  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-2">
    </div>
    <!-- right column -->
    <div class="col-md-12">
      <!-- Horizontal Form -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title" >Create Form</h3>
          <div class="box-tools pull-right">

              <button class="btn btn-xs btn-success" data-ng-click="create()">
                     <i class="fa fa-fw fa-save"></i><span>Save</span>
              </button>

              <button class="btn btn-xs btn-warning" data-ng-click="back()">
                     <i class="fa fa-fw fa-mail-reply"></i><span>Back</span>
              </button>
          </div>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
          <div class="box-body">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">หน่วยงาน :</label>

              <div class="col-sm-9">
                <select class="form-control input-xs"  data-ui-select2="{'containerCssClass': 'required'}"   data-ng-model="criteria.dep" data-ng-click="personalList(criteria.dep)">
                    <option></option>
                    <option data-ng-repeat="depl in departmentList" data-ng-disabled="depl.dis"   value="{{depl.Cost_id}}">
                        {{depl.Cost_name}}
                    </option>
                </select>
                <span class="help-block-error" data-ng-show="err.nameErr">is required !</span>

              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">สถานที่ปฏิบัติงาน :</label>

              <div class="col-sm-9">
                <input type="text" class="form-control input-xs" id="inputPassword3" placeholder="ชื่ออาคาร" data-ng-model="criteria.w_build_name" >
                <span class="help-block-error" data-ng-show="err.buildNameErr">is required !</span>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">ชื่อย่อ :</label>

              <div class="col-sm-9">
                <input type="text" class="form-control input-xs" id="inputPassword3" placeholder="ชื่อเรียก" data-ng-model="criteria.w_nick_name" >
                <span class="help-block-error" data-ng-show="err.nickErr">is required !</span>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">รูปแบบการค้นหา :</label>
              <div class="col-sm-2">
                <toggle ng-model="toggleValue" ng-change="changed()" on="<i class='fa fa-play'></i> จากหน่วยงาน" off="<i class='fa fa-user-circle'></i> จากชื่อ"></toggle>
              </div>
            </div>
            <div class="form-group" data-ng-show="!toggleValue">
              <label for="inputEmail3" class="col-sm-2 control-label">ค้นหาจากหน่วยงาน :</label>
              <div class="col-sm-9">
                <select class="form-control input-xs"  data-ui-select2="{'containerCssClass': 'required'}"   data-ng-model="criteria.user" data-ng-click="personalList(criteria.user)">
                    <option></option>
                    <option data-ng-repeat="depl in searchList"    value="{{depl.Cost_id}}">
                        {{depl.Cost_name}}
                    </option>
                </select>
                <span class="help-block-error" data-ng-show="err.nameErr">is required !</span>

              </div>
            </div>
            <div class="form-group" data-ng-show="toggleValue">
              <label for="inputEmail3" class="col-sm-2 control-label">ค้นหาจากชื่อ :</label>
              <div class="col-sm-9">
                <select class="form-control input-xs"  data-ui-select2="{'containerCssClass': 'required'}"   data-ng-model="criteria.name" data-ng-click="personalList(criteria.name)">
                    <option></option>
                    <option data-ng-repeat="gap in getAllPersonal"    value="{{gap.Cost_id}}">
                        {{gap.PRENAME}}{{gap.FIRSTNAME}}  {{gap.LASTNAME}} [ {{gap.LVLNAME}} ]
                    </option>
                </select>
                <span class="help-block-error" data-ng-show="err.nameErr">is required !</span>

              </div>
            </div>
            <div class="row form-group">
                <multi-select ng-model="user.roles" available="roles" selected-label="Current roles" available-label="Available roles" display-attr="roleName"></multi-select>
            </div>
          </div>
          <!-- /.box-body -->

          <!-- /.box-footer -->
        </form>
      </div>
      <!-- /.box -->
      <!-- general form elements disabled -->

      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
  <!-- /.row -->
</section>
