
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-ng-click="cancel()"><span
                data-aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <span lang="En"  style="color: green; font-size: 24px; font-weight: bold; line-height: 30px;">แบบฟอร์มแลกเวลาปฏิบัติงาน</span>&nbsp;&nbsp;
        <span style="color: orange; font-size: 24px; font-weight: bold; line-height: 30px;">เดือน{{monthObj.lov_name}}</span>
    </div>
    <div class="modal-body">
        <!-- ############# Content Of reserv ################## -->
        <div class="row form-group">
                <!-- ######## FROM RESERV ############## -->
                <div class="col-sm-6">
                    <label class="col-sm-4 text-inline text-green"><strong>ผู้แลก :</strong></label>
                    <div class="col-sm-7 ">
                      {{firstMemberObj.Pre_name}}{{firstMemberObj.Mem_name}}  {{firstMemberObj.Mem_lastname}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 text-inline text-orange"><strong>ผู้ให้แลก :</strong></label>
                    <div class="col-sm-7">
                      {{secondMemberObj.Pre_name}}{{secondMemberObj.Mem_name}}  {{secondMemberObj.Mem_lastname}}
                    </div>
                </div>
          </div>
          <div class="row form-group">
                  <!-- ######## FROM RESERV ############## -->
                  <div class="col-sm-6">
                      <label class="col-sm-4 text-inline text-green"><strong>ตำแหน่ง :</strong></label>
                      <div class="col-sm-7 ">
                        {{firstMemberObj.POSITION}}
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <label class="col-sm-4 text-inline text-orange"><strong>ตำแหน่ง :</strong></label>
                      <div class="col-sm-7 ">
                        {{secondMemberObj.POSITION}}
                      </div>
                  </div>
            </div>
          <div class="row form-group">
            <div class="col-sm-6">
                <label class="col-sm-4 text-inline text-green"><strong>วันที่แลก :</strong></label>

                <div class="col-sm-7 text-inline">
                  <select class="form-control input-xs"  data-ui-select2="{'containerCssClass': 'required'}"   data-ng-model="criteria.day_first" data-ng-click="firstWork()">
                    <option></option>
                    <option data-ng-repeat="dl in dayFirstList" data-ng-disabled="dl.dis"  value="{{dl}}">

                         ที่ {{dl.data.t_day_no}} วัน{{dl.dt}} ( {{dl.data.wl_name}} )
                    </option>
                  </select>
                </div>

            </div>
            <div class="col-sm-6">
                <label class="col-sm-4 text-inline text-orange"><strong>วันที่ให้ใช้ :</strong></label>

                <div class="col-sm-7 text-inline">
                  <select class="form-control input-xs"  data-ui-select2="{'containerCssClass': 'required'}"   data-ng-model="criteria.day_second" data-ng-click="secondWork()">
                      <option></option>
                      <option data-ng-repeat="dl in daySecondList" data-ng-disabled="dl.dis"  value="{{dl}}">
                        ที่ {{dl.data.t_day_no}} วัน{{dl.dt}} ( {{dl.data.wl_name}} )
                      </option>
                  </select>
                </div>

            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-6">
                <label class="col-sm-4 text-inline text-green"><strong>เวลาปฏิบัติงาน :</strong></label>
                <div class="col-sm-7 text-inline">
                  {{firstValue.data.wl_name}}
                </div>

            </div>
            <div class="col-sm-6">
                <label class="col-sm-4 text-inline text-orange"><strong>เวลาปฏิบัติงาน :</strong></label>

                <div class="col-sm-7 text-inline">
                  {{secondValue.data.wl_name}}
                </div>

            </div>
          </div>
        </div>
        <!-- <pre>{{getSubj | json}}</pre> -->
        <div class="modal-footer">

          <button type="button" class="btn btn-success btn-xs" data-dismiss="modal" data-ng-click="save()" >
              <i class="fa fa-check-circle"></i>&nbsp;&nbsp;<span data-translate>บันทึก</span>
          </button>
          <button type="button" class="btn btn-warning btn-xs" data-dismiss="modal" data-ng-click="cancel()">
              <i class="fa fa-times"></i>&nbsp;&nbsp;<span data-translate>ยกเลิก</span>
          </button>

        </div>
    </div>
